.overlay-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	box-sizing: border-box;
}

.overlay {
	position: relative;

	&:hover {
		.hover-img {
			opacity: 0.3;
		}

		.overlay-hover {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			cursor: zoom-in;
		}
	}
}
